body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(28, 28, 28, 1) 100%);
    color: white;
}

/* ===== Navigation ===== */

ul.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 20px;
}

nav ul li a {
    cursor: pointer;
}

ul.topnav .center {
    margin: 0 10px;
}

ul.topnav .left {
    margin-right: auto;
}

ul.topnav .left a {
    color: #666;
}

ul.topnav .right {
    margin-left: auto;
}

ul.topnav li a {
    font-weight: bold;
    font-size: large;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    color: #666;
}

/* ===== Sections ===== */

section.home img {
    width: 150px;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 30px;
}

section.home img:hover {
    transform: scale(1.1);
}

section.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

section.home h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

section.home h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

section.home p {
    font-size: 18px;
    color: #777777;
}

/* ===== Awards ===== */

section.awards ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

section.awards ul li a {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.awards img {
    display: block;
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

section.awards img:hover {
    transform: scale(1.05);
}